<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JohnTube</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<form action="/auth/login" method="get">
    <button>Разлогиниться</button>
</form>
    <main>
        <div id="your-videos">
            <header>
                <h3>Your videos</h3>
            </header>
            <ul id="Доступные хайлайты:">
            </ul>
        </div>
        <div id="video-player">
            <header>
                <h3 id="now-playing"></h3>
            </header>
            <video id="video-screen" width="720px" height="480px" controls></video>
        </div>
        <form id="video-form" action="/api/v1/video" method="post" enctype="multipart/form-data">
            <fieldset>
                <legend>Upload a video</legend>
                <label for="file">Video File</label>
                <input id="file" name="file" type="file" accept="application/mp4">
                <label for="video-name">Video Name</label>
                <input id="video-name" name="video-name" type="text">
                <label for="movie-name">Movie Name</label>
                <input id="movie-name" name="movie-name" type="text">
                <button type="submit">Save</button>
                <input type="hidden" name="token" th:value="${token}">
            </fieldset>
        </form>
    </main>
    <script src="/js/manage.js"></script>
</body>
</html>
